*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#container{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
}
#rect{
    width: 200px;
    height: 400px;
    background-color: rgb(36, 20, 87);
    position: absolute;
}